/* .quill{
  display: block;
  margin: 1rem 4rem;
  min-height: 100px !important;
  max-height: 300px;
  width:50%;
  overflow-y: scroll;
  resize: vertical;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
} */